#map {
        height: 400px;
        width: 100%;
        }

        input, select, textarea{
            color: #ff0000;
        }

        textarea:focus, input:focus {
        color: #ff0000;
        }

input
{
  -moz-border-radius: 15px;
 border-radius: 15px;
    border:solid 1px black;
    padding:5px;
}
